/* General Styling */

html,body {
    margin: 0;
    padding: 0;

    background: #fff;

    scroll-behavior: smooth;
}

section {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: fit-content;
    padding: 40px 0;

    overflow-x: hidden;
}

.container {
    /* Auto layout */
    display: flex;
    flex-direction: column;

    /* width: 100%; */
    max-width: 1100px;
    margin: 0 auto;
    padding: 24px;

    overflow-x: visible;

    /* Inside auto layout */
    flex: auto;
}

/* Horizontal flex */

.flex-row {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;

    height: fit-content;
    gap: 24px;
}

.hero {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 24px;
    margin-bottom: 40px;
}

.hero ul {
    color: #aaa;
    margin: 1.5rem 0 2rem;
}

.col {
    flex: 1;
    width: 100%;
    height: 100%;
}

/* Font Styling */

h1,h2,h3,h4,h5,h6,
p,a,span,ul,button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    word-break: keep-all;

    margin: 0;
    
    color: #000;
    transition: all ease-in-out .3s;
}

h1, h2 {
    font-size: 3rem;
}

h3, .big, li a .big {
    font-size: 2rem;
}

h4, .bigger {
    font-size: 1.25rem;
}

p {
    margin: 10px 0;
}

h1, h2, h3, h4, h5, h6,
.logo a, .nav-link a, button {
    font-weight: 500;
}

button {
    background: none;
    color: #aaa;
    padding: 16px 24px;
    border: 2px solid;
    border-radius: 50px;
    width: fit-content;
}

button:hover {
    color: #fff;
}

/* Tags */

.tags-wrapper {
    gap: 8px;
}

.tag {
    font-size: 0.875rem;
    padding: 5px 10px;
    background: #dadada;
    border-radius: 50px;
}

/* Remove Bullet Styling */

.nav-items, #footer ul {
    list-style: none;
}

/* Navbar */

#navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    
    width: 100%;
    background: #fff;
    
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

.logo {
    flex-grow: 1;
}

.nav-link a, .card-link {
    font-weight: 500;
    padding: .25rem 0;
    border-bottom: 2px solid;

    transition: none;
}

.nav-link a.active {
    border-bottom: 2px solid;
}

/* Mobile Nav */

#mobile-nav {
    position: fixed;
    bottom: 24px;
    
    background: #dadada;
    border-radius: 50px;
    padding: 1rem 1.5rem;

    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
}

#mobile-nav .flex-row {
    flex: none;
    justify-content: center;
}

/* Dark sections */

.dark {
    background: #000;
}

.dark h2, .dark p, .dark a, .dark button {
    color: #c4c4c4;
}

.dark a:hover, .dark button:hover {
    color: #fff;
}

/* Section / Projects */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    background: #fff;

    transition: all ease-in-out .3s;
}

.card:hover {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

.card-img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.text-wrapper {
    padding: 20px 40px 50px;
}

/* Footer */

#footer {
    position: relative;
    bottom: 0;

    padding: 40px 0;
}

#footer .col {
    padding: 0;
}

#footer a {
    border-bottom: 2px solid;
}

.align-right {
    text-align: right;
}

/* Smaller Screens */

@media screen and (max-width: 649px) {

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .hero {
        flex-direction: column-reverse;
    }

    .project-info {
        flex-direction: column;
        gap: 40px;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3, .big {
        font-size: 1.5rem;
    }

    h4, .bigger {
        font-size: 1rem;
    }

    #footer {
        padding: 20px 0 100px;
    }
    
    .footer-wrapper {
        flex-direction: column;
        text-align: center;
    }
}

#contact {
    padding-bottom: 80px;
}