body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Rounded Elements */
.contact a,
.card,
img {
    border-radius: 10px;
}

/* Font Styling */
h1,h2,h3,h4,h5,h6,
p,a,
ul,
button {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 5px 0;
}

/* Bold text */
h1,h2,h3,h4,h5,h6,
a
{
    font-weight: 500;
}

/* Headings */
h1 {
    font-size: 3.5rem;
    border-bottom: 2px solid #E5E5E5;
    margin-bottom: 30px;
    padding: 40px 0 10px;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}

/* Links */
.nav-container a:hover {
    border-bottom: 2px solid;
}

.body-container a {
    text-decoration: none;
    border-bottom: 2px solid;
}

/* Buttons */
.contact a {
    background: #000;
    color: #fff;
    padding: 16px 24px;
}

/* Navbar */
.navbar-container {
    width: 100%;
    position: sticky;
    top: 0;
    background: #fff; 
}

.navbar-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 40px;
}

.site-name {
    flex-grow: 3;
}

.navigation-wrapper {
    flex-grow: 2;
}

nav,
nav a,
.nav-site {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
}

/* Body Container */
.body-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px 50px;
}

/* Cards: Services, Projects */
section .projects {
    display: grid;
}

.card {
    margin: 30px 0;
}

.card--hero {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card--content {
    padding: 50px 60px 60px;
}

/* Box Shadows & Hover Effects */
.contact a,
.card {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.contact a:hover,
.card:hover {
    box-shadow: 0 0 15px 5px rgba(38, 0, 255, 0.1);
}